{{#if this.image_url}}
  <img src="{{this.image_url}}" alt="{{this.tagline}}" class="img-beer" />
{{/if}}

<div>
  <h3>
    {{this.title}}
  </h3>
  <p>
    <a href="/movies/{{this.id}}">
      See more</a></p>
</div>